* {
    margin: 0;
    padding: 0;
    font-family: 'Sunflower', sans-serif;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: url('../img/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.sub-container {
    max-width: 600px;
    width: 100%;
    /* min-height: 400px; */
    height: 50%;
    margin: 100px auto 0;
    display: flex;
    background: #fff;
    box-shadow: 0 0 5px 2px rgb(0, 0, 0, 0.125);
}

.sub-container .banner-img {
    width: 300px;
    padding: 70px 0;
    height: 100%;
}

.sub-container .banner-img img {
    width: 100%;
    height: 100%
}

.sub-container .login-form {
    width: 300px;
    height: 100%;
    text-align: center;
    padding: 40px 35px 0;
    position: relative;
}

.sub-container .login-form .title {
    color: #6e8d30;
    letter-spacing: 2px;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
}

.sub-container .login-form .label {
    color: #524a4a;
    font-size: 14px;
    letter-spacing: 2px;
}

.sub-container .login-form .input {
    margin: 5px 0 15px;
    width: 100%;
    padding: 8px;
}

.sub-container .login-form .btn {
    padding: 10px;
    background: #6e8d30;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}

.sub-container .login-form .link {
    margin: 12px 0;
}

.sub-container .login-form .link a {
    color: #6e8d30;
    font-size: 18px;
}

.main-title{
    margin-top: 5%;
    height: 100px;
    margin-left: 5%;
    margin-right: 5%;


}

.main-title h1{
    margin-top: 2%;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color: #fff;
    
}

.content1{
    background: #6e8d30;
    margin: 5px 40px;
    height: 300px;
}

.content1 input, .content1 textarea{
    /* border: 1px solid blue; */
    border-radius: 1px; 
    display: block;
}

.content1 h2,p{
    text-align: center;
    color: #fff;
}


strong{
    font-size: 18px;
}

/* navigation bar */

.navbar_container{
    background: #6e8d30;
    /*border: 2px solid blue;*/
    position: relative;
    height: 100px;
}

.navbar_container::after {
     content: '';
     display: table;
     clear: both;
}

.logo{
    float: left;
    
}

.logo_container{
    display: flex;
    position:absolute; 
    margin-top: 20px;
    margin-left: 10px;
}

.logo_container p{
    margin-top: 5px;
    font-size: 20px;
}

nav{
    float: right;
    margin-right: 30px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
  display: inline-block;  
  margin-left: 100px;
  padding-top: 45px;

}

nav a{
    color: #fff;
    text-transform: uppercase;
}

nav li a:hover{
    color: #000;
}

p{
    color: #fff;
}

/* Table */

.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    height: 70%;
    border-radius:5px 5px 0 0;
    overflow: hidden;
    /*border: 2px solid yellow;*/


}
.content-table th{
    background-color: #009879;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.content-table th, .content-table td{
    padding: 12px 15px;
}

.content-table tr{
    border-bottom: : 2px solid ;
}

.content-table tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tr:last-of-type{
    border-bottom :2px solid #009879 ;
}


.button{
    height: 32px;
    width: 120px;
    border-radius: 2px;
    background: #3fb178;
    color: #fff;
	font-family: sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	transition:0.2s ease;
	cursor: pointer;
}

/*FORMS*/

form{
    width: 50%;
}




@media screen and (max-width:600px) {
    .sub-container {
        flex-direction: column;
        max-width: 300px;
        height: auto;
    }

    .sub-container .banner-img {
        width: 100%;
        height: 180px;
        padding: 0;
    }

    .sub-container .login-form {
        width: 100%;
        padding: 20px 35px 0;
    }

    .sub-container .login-form .title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    

    
}